:root {
  --spaces: 15px;
}

* {
  box-sizing: border-box;
  color: #d4d4d8;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #1f2122;
}

#root {
  padding: 3%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 var(--spaces);
}

.navbar-title {
  display: flex;
  gap: 5px;
}

.status-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  gap: var(--spaces);
}

.status-box {
  background: #191a1b;
  display: inline-block;
  padding: 10px 30px 5px 10px;
  border-radius: 10px;
}

.title {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 20px;
}

.value {
  font-size: 30px;
  color: blue;
}

.countries-container {
  background: #191a1b;
  padding: 20px;
  margin: var(--spaces) 0;
  border-radius: 10px;
  width: 100%;
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.country-row {
  width: 100%;
  display: flex;
  gap: var(--spaces);
  align-items: center;
}

.country-row-name {
  width: 200px;
  flex-shrink: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.country-row-value {
  width: 100px;
  flex-shrink: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.country-row-percentage {
  height: 7px;
  border-radius: 5px;
  background: linear-gradient(to right, blue, orangered);
}

.chart-container {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  align-items: stretch;
  background: #191a1b;
  border-radius: 10px;
  padding: 10px;
  gap: var(--spaces);
}

@media (max-width: 1200px) {
  :root {
    --spaces: 10px;
  }

  .status-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }

  .title {
    font-size: 15px;
  }

  .value {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  :root {
    --spaces: 5px;
  }

  #root {
    min-height: 100vh;
  }

  .navbar-title {
    display: block;
    gap: 0;
  }

  .countries-container {
    height: 150px;
    flex-shrink: 0;
  }

  .country-row-name {
    width: 130px;
  }

  .status-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
  }

  .title {
    font-size: 12px;
  }

  .value {
    font-size: 17px;
  }

  .chart-container {
    flex-direction: column;
  }
}
